<form method="dialog">
    <div>
        <label for="name-input">Name:</label>
        <input type="text" class="name-input">
        <br>
        <label for="type-select">Type:</label>
        <select class="type-select">
        </select>
        <br>
        <label for="wishlist-checkbox">Wishlist:</label>
        <input type="checkbox" class="wishlist-checkbox">
        <br>
        <label for="worn-checkbox">Worn:</label>
        <input type="checkbox" class="worn-checkbox">
        <br>
    </div>

    <div>
        <button type="submit" class="cancel-button" formnovalidate>Cancel</button>
        <button type="submit" class="submit-button">Submit</button>
    </div>
</form>