<link rel="stylesheet" href="../styles.css">
<details class="component">
  <summary class="iname">Test Item</summary>
  <div class="ccontent">
    <p class="cinfo"></p>
    <div class="cedit hidden">
      <label for="iename">Name:</label>
      <input type="text" class="iename">
      <br>
      <label for="ietype">Type:</label>
      <select class="ietype"></select>
      <br>
      <label for="iewishlist">Wishlist:</label>
      <input type="checkbox" class="iewishlist">
      <br>
      <label for="ieworn">Worn:</label>
      <input type="checkbox" class="ieworn">
      <br>
    </div>
    <div>
      <button 
        class="cedit-button">Edit</button>
      <button
        class="cupdate-button hidden">Update</button>
      <button
        class="cdelete-button hidden">Delete</button>
      <button>Filter Outfits</button>
    </div>
  </div>
    
  </div>
</details>