<link rel="stylesheet" href="../styles.css">
<details class="component">
  <summary class="oitems">Test Outfit</summary>
  <div class="ccontent">
    <p class="cinfo"></p>
    <div class="cedit hidden">
      <label for="oeitems">Items:</label>
      <select class="oeitems" multiple></select>
      <br>
      <label for="oeweather">Weather:</label>
      <select class="oeweather"></select>
      <br>
      <label for="oestars">Stars:</label>
      <select class="oestars"></select>
      <br>
      <label for="oeworn">Worn:</label>
      <input type="checkbox" class="oeworn">
      <br>
    </div>
    <div>
      <button 
        class="cedit-button">Edit</button>
      <button
        class="cupdate-button hidden">Update</button>
      <button
        class="cdelete-button hidden">Delete</button>
      <button>Filter Outfits</button>
    </div>
  </div>
    
  </div>
</details>